#usersList {
    background-color: #f8f9fa!important;
    margin-top: 20px;
    max-width: 300px;
    text-align: center;
    color: #4c4c4c;
    margin-left: 30px;
    border-radius: 16px;
  }
  #chat {
    max-height: 400px;
    overflow: auto;
  }
  .messageDate {
    color: #9c9c9c;
    font-size: 11px;
  }
  .usersListHeader {
    background-color: #ffc107!important;
  }
  hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  